.App {
  text-align: center;
}

.App-header {
  background-color: #5133a4;
  height: 100px;
  width: 100%;
  color: white;
  /* position: fixed; */
}

.left,
.middle,
.right {
  width: 33.33%;
  font-size: 30px;
  padding-top: 25px;
}

.left {
  font-weight: bold;
}

.bigBanner {
  height: 300px;
  text-align: center;
  border: 1px solid grey;
  padding-top: 70px;
}

.bannerTitle {
  font-size: 50px;
  font-weight: bold;
}

.instructions {
  font-size: 25px;
}